node_modules
.next
dist
build
out
coverage
.turbo

# Hardhat
artifacts
cache
typechain
typechain-types

# Env files (never commit secrets)
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor
.DS_Store
.vscode

# TS build info
*.tsbuildinfo
